.cardBody{
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

h2{
    text-align: center;
    margin-bottom: 0px;
}

.tags{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}